<!doctype html>
<html lang="{{with .Site.LanguageCode}}{{ . }}{{else}}en-us{{end}}">

  <head>
    {{ partial "head.html" .}}
  </head>

  <body>
    <div class = "docs-layout">

      <header class = "layout-header">
        {{ partial "header.html" . }}
      </header>

      <main role="main" class = "layout-main">
        {{ partial "title.html" . }}

        {{ $.Scratch.Add "listtype" .Params.type}}
        {{ $listtype := $.Scratch.Get "listtype"}}

        {{ if (isset .Params "type")}}
          {{ if eq $listtype "software" }}
            {{ partial "list-software.html" . }}
          {{ else if eq $listtype "contents" }}
            {{ partial "list-contents.html" . }}
          {{ end }}
        {{ else }}
          {{ partial "list-default.html" . }}
        {{ end }}
      </main>

      <footer class="footer bg-light fixed-bottom text-muted layout-footer">
          {{ partial "footer.html" . }}
      </footer>

    </div>
    {{ partial "scripts.html" .}}
  </body>

</html>
